pipeline/copyblobTodata lakegen2.json
{
	"name": "copyblobTodata lakegen2",
	"properties": {
		"activities": [
			{
				"name": "customer_copy_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "customer_blob_input",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Customer.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "datalake_output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "transcation_copy_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "customer_copy_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "customer_blob_input",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Transactions.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "datalake_output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Customer_Failure_Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "customer_copy_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "email_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Message": {
							"value": "@activity('customer_copy_data').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Transaction_Failure_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "transcation_copy_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "email_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Message": {
							"value": "@activity('transcation_copy_data').Error.Message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pipeline_Sucess_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "transcation_copy_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "email_notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Message": "Pipeline Successfully completed. "
					}
				}
			}
		],
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}