pipeline/Lookup_Activity_pipeline.txt
{
    "name": "Lookup_Activity",
    "properties": {
        "activities": [
            {
                "name": "Lookup1",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "AzureSqlTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "sqldb_tablename": "config",
                            "schema_name": "dbo"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup1').output.value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Validation1",
                            "type": "Validation",
                            "dependsOn": [
                                {
                                    "activity": "Set variable1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "default_input_blob",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filename": {
                                            "value": "@variables('v1')",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "timeout": "0.00:00:20",
                                "sleep": 5
                            }
                        },
                        {
                            "name": "Copy data1_copy1",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Validation1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "default_input_blob",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filename": {
                                            "value": "@variables('v1')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "datalakeg2_csv",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filesystem": "inputfiles",
                                        "directory": "level2",
                                        "filename": {
                                            "value": "@variables('v1')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Fail_email_copy1",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "Validation1",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Sucess_email",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PipelineName": {
                                        "value": "@pipeline().Pipeline",
                                        "type": "Expression"
                                    },
                                    "DataFactoryName": {
                                        "value": "@pipeline().DataFactory",
                                        "type": "Expression"
                                    },
                                    "ErrorMessage": {
                                        "value": "@activity('Validation1').Output.exists",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Set variable1",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v1",
                                "value": {
                                    "value": "@concat(item().Src_Tab,'.csv')",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "variables": {
            "v1": {
                "type": "String"
            }
        },
        "annotations": []
    }
}