pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "wiley_input",
						"type": "DatasetReference"
					},
					"fieldList": [
						{
							"value": "@activity('Validation1').output",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "wiley_input",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:10",
					"sleep": 0
				}
			}
		],
		"variables": {
			"v": {
				"type": "String",
				"defaultValue": "out1"
			},
			"s1": {
				"type": "String"
			},
			"s2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}