pipeline/Untill_activity.txt
{
    "name": "Untill_activity",
    "properties": {
        "activities": [
            {
                "name": "Until1",
                "type": "Until",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@bool(variables('File_avaliable'))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Get Metadata1",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "default_input_blob",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filename": "AU.txt"
                                    }
                                },
                                "fieldList": [
                                    "exists"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@bool(activity('Get Metadata1').output.exists)",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Wait1",
                                        "type": "Wait",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "waitTimeInSeconds": 120
                                        }
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Set variable1",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "File_avaliable",
                                            "value": true
                                        }
                                    },
                                    {
                                        "name": "Copy data1",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Set variable1",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobStorageReadSettings",
                                                    "recursive": true
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".txt"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "default_input_blob",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "filename": "AU.txt"
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "default_output_GL2",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "T_filesystem": "inputfiles",
                                                    "T_directory": "output"
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "0.00:06:00"
                }
            }
        ],
        "variables": {
            "File_avaliable": {
                "type": "Boolean"
            }
        },
        "annotations": [],
        "lastPublishTime": "2020-09-18T09:07:49Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}